<app-menu></app-menu>
<div>
    <span id="pageTitle">RequestLines</span>:    
</div>
<main *ngIf="request">
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <td *ngIf="request.rejectionReason">Rejection Reason</td>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
                 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.description }}</td>  
            <td *ngIf="request.rejectionReason">{{ request.rejectionReason}}</td>         
            <td>{{ request.status }}</td>
            <td>{{ request.total | currency }}</td>
            <td>{{ request.user.username}}</td>  
            <td>
                    
            </td>
        </tr> 
    </tbody>
</table>
<div>
    <span id="pageTitle">Request List</span>:
    <a routerLink="/requestline/create/{{request.id}}">Create</a>

</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
                    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rl of request.requestlines">
            <td>{{ rl.id }}</td>
            <td>{{ rl.product.name }}</td>
            <td>{{ rl.quantity }}</td>
            <td>{{ rl.product.price }}</td>
            <td>{{ rl.product.price * rl.quantity }}</td>
          
            <td>
                <button (click)="approve()" class="btn btn-link   ">Approve</button> |
            <button (click)="reject()" class="btn btn-link btn-danger  ">Reject</button>
            </td>
            <span *ngIf="showverifyButton">
               <input [(ngModel)]="request.rejectionReason" type="text">
                 <button (click)="verReject()" class="btn btn-link  fw-bold">Verify Reject</button>
            </span>

        </tr> 
    </tbody>
</table>
</main>




